#mapSvg{background-color: #ffffff;}
.l0c0 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #8093e8; fill-opacity: 1.0; }
.l0c1 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #cb7d29; fill-opacity: 1.0; }
.l0c2 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c8d85d; fill-opacity: 1.0; }
.l0c3 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #df4d24; fill-opacity: 1.0; }
.l0c4 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #5e4fd1; fill-opacity: 1.0; }
.l0c5 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #be5de4; fill-opacity: 1.0; }
.l0c6 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #60e7b3; fill-opacity: 1.0; }
.l0c7 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ad84e5; fill-opacity: 1.0; }
.l0c8 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #81e2a0; fill-opacity: 1.0; }
.l0c9 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #39dfd1; fill-opacity: 1.0; }
.l0c10 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #1eef21; fill-opacity: 1.0; }
.l0c11 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #6ae33e; fill-opacity: 1.0; }
.l0c12 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ca1f94; fill-opacity: 1.0; }
.l0c13 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d5789c; fill-opacity: 1.0; }
.l0c14 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c9bb71; fill-opacity: 1.0; }
.l0c15 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #80cce1; fill-opacity: 1.0; }
.l0c16 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #6b9dd1; fill-opacity: 1.0; }
.l0c17 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ed4d5a; fill-opacity: 1.0; }
.l0c18 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d46fd3; fill-opacity: 1.0; }
.l0c19 { stroke: #000000; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #98ec29; fill-opacity: 1.0; }
